*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #20639B;
    --secondary-color: #173f5f;
    --tertiary-color: white;
    --fourth-color: #7ede7e;
    --text-color: white;
    --header-color: #20639B;
    --input-color: white;
    --direction-color: white;

}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--primary-color);
}

/* Login Page */
.login-wrapper {
    background-color: rgb(255, 255, 255,0.7);
    width: 50vw;
    height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 1rem;
}

.login-wrapper h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 2rem;
}
.login-wrapper .error-msg {
    display: none;
    margin-top: 1rem;
    font-weight: bold;
    color: white;
    background: rgba(255, 26, 26, 0.575);
    padding: 1rem;
    border-radius: 15px;
}
.login-wrapper .input-wrapper {
    margin-top: 1rem;
}

.login-wrapper label {
    font-weight: bold;
}

.login-wrapper input {
    display: block;
    position: relative;
    padding: 1rem 1rem 0.2rem 0.2rem;
    width: 100%;
    margin: 0 auto;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px black solid;
    transition: all 0.3s;
}

.login-wrapper input:focus{
    border-bottom: 3px black solid;
    
}
.login-wrapper input#email:valid{
    border-bottom: 3px green solid;
}

.login-wrapper .btn-row-wrapper {
    display: flex;
    align-items: center;
}

.login-wrapper .btn {
    background: teal;
    color: white;
    padding: 0.5rem 1rem;
    margin: 1rem 0.5rem;
    text-align: center;
    width: 50%;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}

/* Main Page */
header {
    text-align: center;
    padding: 2rem 0;
    background: var(--header-color);
}

header h1 {
    display: inline;
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
    color: var(--tertiary-color);
    font-size: 4rem;
}

.info-btn{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--text-color);
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 25px;
}

.container{
    width: 60%;
    margin: 2rem auto;
}

.pick-num{
    text-align: center;
}

.pick-num h2{
    color: var(--direction-color);
}

.pick-num #error {
    display: none;
    margin-top: 1rem;
    margin-bottom: -1rem;
    font-weight: bold;
    color: white;
    background: rgba(255, 26, 26, 0.808);
    padding: 1rem;
    border-radius: 15px;
}

.num-wrapper {
    display: flex;
    justify-content: center;
}

.num-wrapper div {
    background: var(--secondary-color);
    padding: 1rem;
    margin: 2rem 1rem;
    border-radius: 15px;
}
.num-wrapper input {
    background: var(--secondary-color);
    border: none;
    font-size: 2rem;
    font-weight: 800;
    color: var(--input-color);
    outline: none;
    text-align: center;
    width: 100%;
}

.num-wrapper input::placeholder {
    color: var(--text-color);
    opacity: 75%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pick-num .submit-btn {
    display: block;
    background: var(--fourth-color);
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
    padding: 1rem;
    border-radius: 15px;
    width: 25%; /* Update */
    margin: 2rem auto;
}

.submit-btn:hover {
    background: #8aff8a;
    box-shadow: 2px 2px 5px black;
}

.standings {
    display: flex;
    background: var(--text-color);
    justify-content: space-evenly;
    border-radius: 15px;
    padding: 1rem;
    height: 100px;
}

.pos-change::before {
    content: '+ ';
    color: green;
    font-weight: bold;
}
.neg-change::before {
    content: '- ';
    color: red;
    font-weight: bold;
}
.standings p {
    margin-top: 5px;
    text-align: center;
    transform: translateX(-5px);
    font-size: 1.4rem;
}

.seperator-line{
    border-left: 4px solid var(--tertiary-color);
    height: 90%;
    left: 50%;
    margin-left: -2px;  
}

/* Responsive Media Queries */
@media (max-width: 720px) {
    body {
        background-color: blue;
    }
    .container {
        width: 75%;
    }
    .num-wrapper {
        flex-direction: column;
    }
}