*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #20639B;
    --secondary-color: #173f5f;
    --tertiary-color: white;
    --fourth-color: #7ede7e;
    --text-color: white;
    --header-color: #20639B;
    --input-color: white;
    --direction-color: white;

}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--primary-color);
}

/* Login Page */
.login-wrapper {
    background-color: rgb(255, 255, 255,0.7);
    width: 60vw;
    height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 1rem;
}

.login-wrapper h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 2rem;
}
.login-wrapper .error-msg {
    display: none;
    margin-top: 1rem;
    font-weight: bold;
    color: white;
    background: rgba(255, 26, 26, 0.575);
    padding: 1rem;
    border-radius: 15px;
}
.login-wrapper .input-wrapper {
    margin-top: 1rem;
}

.login-wrapper label {
    font-weight: bold;
}

.login-wrapper input {
    font-size: 1em;
    display: block;
    position: relative;
    padding: 1rem 1rem 0.2rem 0.2rem;
    width: 100%;
    margin: 0 auto;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px black solid;
    transition: all 0.3s;
}

.login-wrapper input:focus{
    border-bottom: 3px black solid;
    
}
.login-wrapper input#email:valid{
    border-bottom: 3px green solid;
}

.login-wrapper .btn-row-wrapper {
    display: flex;
    align-items: center;
}

.login-wrapper .btn {
    background: teal;
    color: white;
    padding: 0.5rem 1rem;
    margin: 1rem 0.5rem;
    text-align: center;
    width: 50%;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}

/* Main Page */
header {
    text-align: center;
    padding: 2rem 0;
    background: var(--header-color);
}

header h1 {
    display: inline;
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
    color: var(--tertiary-color);
    font-size: 4rem;
}

header .sign-out-btn {
    height: 50px;
    width: 100px;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 100px;
    top: 25px;
    border-radius: 10px;
    transition: all 0.2s;
}

.info-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--text-color);
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 25px;
}

.container{
    width: 60%;
    margin: 2rem auto;
}

.pick-num{
    text-align: center;
}

.pick-num h2{
    color: var(--direction-color);
}

.pick-num #error {
    display: none;
    margin-top: 1rem;
    margin-bottom: -1rem;
    font-weight: bold;
    color: white;
    background: rgba(255, 26, 26, 0.808);
    padding: 1rem;
    border-radius: 15px;
}

.num-wrapper {
    display: flex;
    justify-content: center;
}

.num-wrapper div {
    background: var(--secondary-color);
    padding: 1rem;
    margin: 1rem 1rem;
    border-radius: 15px;
    transition: all 0.6s ease;

}
.num-wrapper input {
    background: var(--secondary-color);
    border: none;
    font-size: 2rem;
    font-weight: 800;
    color: var(--input-color);
    outline: none;
    text-align: center;
    width: 100%;
    transition: opacity 0.3s;
}
.num-wrapper input:read-only {
    opacity: 50%;
}

.num-wrapper input::placeholder {
    color: var(--text-color);
    opacity: 75%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pick-num .submit-btn {
    display: block;
    background: var(--fourth-color);
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
    padding: 1rem;
    border-radius: 15px;
    width: 25%; /* Update */
    margin: 10px auto 3rem auto;
    transition: all 0.3s;
}

.submit-btn:hover {
    background: #8aff8a;
    box-shadow: 2px 2px 5px black;
}

.standings {
    display: flex;
    background: var(--text-color);
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 1rem;
    height: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.425);
}

.pos-change::before {
    content: '+ ';
    color: green;
    font-weight: bold;
}
.neg-change::before {
    content: '- ';
    color: red;
    font-weight: bold;
}
.standings p {
    margin-top: 5px;
    text-align: center;
    transform: translateX(-5px);
    font-size: 1.4rem;
}

.seperator-line{
    border-left: 4px solid gray;
    height: 90%;
    left: 50%;
    margin-left: -2px;  
}

.rank-table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.425);
}
.rank-table thead tr {
    background-color: var(--secondary-color);
    color: white;
    text-align: left;
    font-weight: bold;
}
.rank-table th,
.rank-table td {
    padding: 12px 15px;
}
.rank-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background: white;
    transition: all 0.3s;
}
.rank-table tbody tr:last-of-type {
    font-weight: bold;
    color: var(--secondary-color);
    border-top: 3px solid #009879;
    background: #e9e9e9;
}

/* Modal Background */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    transition: all 0.3s;
}
#info-modal-close {
    color: #aaa;
    float: right;
    font-size: 32px;
    font-weight: bold;
}
#info-modal-close:hover,
#info-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.time-wrapper {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: rgba(255,255,255,0.9);
    padding: 5px;
    border-radius: 5px;
    margin: 10px 16px;
    font-size: 1.1em;
}
#timeToScoreUpdate,
#timeOfScoreUpdate
 {
    font-weight: bold;
}


/* Responsive Media Queries */
@media (max-width: 720px) {
    .container {
        width: 75%;
    }
    .num-wrapper {
        flex-direction: column;
    }
    .num-wrapper div {
        margin: 16px;
    }
    .pick-num .submit-btn {
        width: 50%;
        margin: 10px auto 30px auto;
    }
    .login-wrapper {
        width: 70%;
        min-height: 500px;
    }
}
@media (max-width: 620px) {
    header .sign-out-btn {
        transform: rotateZ(90deg);
        right: 5px;
        top: 120px;
    }
    .pick-num h2 {
        width: 80%;
        margin: 0 auto;
    }
}